@import url(/media/fonts/Josefin-Sans.css); 

.sketch {
    border: 0px solid #dadada;
}

#main {
    width: 700px;
    position: relative;
}

#main_top {
    height: 100px;
}

#proj-name, #proj-options {
    float: left;
    height: 80px;
    margin-top: 10px;
    margin-left: 15px;
}
#proj-name {
    padding-right: 20px;
}

#main_left, #main_right {
    float: left;
    margin-top: 10px;
    position: relative;
}

#main_left {
    width: 350px;
    min-height: 450px;
    margin-left: 15px;
}

#main_right {
    width: 300px;
    margin-left: 10px;
    padding-right: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}
#main_right_top_cover {
    position: absolute;
    top: 110px; right: 22px;
    width: 300px; height: 15px;
    z-index: 999;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

#main_bottom {
    height: 50px;
    margin-top: 15px;
}

#menu {
    position: fixed;
    left: 0; top: 200px;
    padding-left: 10px;
}

/* style ? */

#proj-name.font {
    line-height: 70px;
    font-size: 50px;
}

#menu {
    font-family: 'Josefin Sans', sans-serif;
    color: #333;
    font-weight: bold;
}
#menu .title {
    font-size: 25px;
    position: relative;
}
#menu .title .switch {
    position: absolute;
    left: 70px; top: 17px;
    width: 16px; height: 16px;
    -webkit-border-radius: 8px;
    background: #ccc;
    cursor: pointer;
}
#menu .title .switch.focus {
    background: #555;
}
#menu ul {
    list-style-type: lower-roman;
    padding-left: 35px;
}
#menu ul li {
    display: none;
    font-size: 18px;
}
#menu ul li a{
    color: #333;
}

#cubeditor {
    display: none;
    position: fixed;
    left: 0; top: 0;
    width: 500px; height: 200px;
    background: #eee;
}
#cubeditor .editor {
    position: absolute;
    left: 15px; right: 15px; top: 15px; bottom: 15px;
    background: #fafafa;
}
