{% extends 'base.html' %}

{% load my_filters %}

{% block head_title %}
Proj
{% endblock %}

{% block head_extra %}
    <link media="all" rel="stylesheet" href="/media/css/projs.css" type="text/css" />
    <script src="/media/js/projs.js" type="text/javascript"></script>
{% endblock %}

{% block main_top_extra %}
{% endblock %}

{% block main_left %}
    <div class="proj box">
        <div class="title">参与的项目</div>
        <div class="container">
        {% for i in in_projs %}
            <a href="/projs/{{ i.id }}" class="item">
                <span>{{ i.name}}</span>
            </a>
        {% endfor %}
        </div>
    </div>

    <div class="proj box">
        <div class="title">创建的项目</div>
        <div class="container">
        {% for i in own_projs %}
            <a href="/projs/{{ i.id }}" class="item">
                <span>{{ i.name}}</span>
            </a>
        {% endfor %}
        </div>
    </div>

    <div class="proj box">
        <div class="title">等待加入的项目</div>
        <div class="container">
        {% for i in pending_projs %}
            <a href="#" class="item"> {{ i.name}} </a>
        {% endfor %}
        </div>
    </div>

{% endblock %}

{% block main_right %}
<div class="sglink">
    <a href="/projs/create" class="left">
        创建项目
    </a>
    <div class="right"></div>
</div>
<div class="sglink">
    <a href="/projs/join" class="left">
        加入项目
    </a>
    <div class="right"></div>
</div>
{% endblock %}

